body {
    margin: 0;
    width:1200px;

    /*Свойство параметров шрифта*/

font-family: "PT Sans", Arial, sans-serif;
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: #000000;
text-transform: uppercase;

    /*Фон*/
background-color: #f2f2f2;
}

    /*Описываем глобальные стили*/

a {
    text-decoration: none;
}

h3 {
font-size: 21px;
line-height: 21px;
font-weight: 700;
text-align: center;

    /*Устанавливаем ширину контейнера для правильных переносов*/
width: 155px;
}

    /* Устанавливаем наследование шрифтов в поля ввода формы*/
input {
font: inherit;
}


    /*блок Header*/
.main-navigation {
font-size: 14px;
line-height: 26px;
font-weight: 700;
color: #000000;
}

.site-navigation {
    /*Убираем маркеры из списков*/
list-style: none; 
}

.site-navigation a {
    /*Устанавливаем цвет ссылок*/
color: #000000;
}

.site-navigation a:hover {
color: #81b3d2; 
}

.site-navigation a:focus {
color: rgba(0, 0, 0, 0.3);
}

.index-wallpaper {
height: 800px;
width: 1200px;
    background-color: #e4f1fa;
    background-image:
        url("img/index-background-photo.jpg");
        background-size: contain;
    /*Contain 
    - пропорции изображения сохраняются;
    - изображению задаются максимально возможные размеры, при которых оно и по ширине, и по высоте полностью помещается в границы фона;
    - изображение может не закрывать всю фоновую область блока, если пропорции изображения и блока разные.*/
        background-position: top center;
        background-repeat: no-repeat;
}

    /*Стилизауем блок Advantages*/
.advantages-heading {
font-size: 21px;
line-height: 26px;
font-weight: 700;
text-align: center;
    
    /*Устанавливаем ширину для правильных переносов текста*/
    width: 440px   
}

.advantages-heading p {
font-size: 14px;
line-height: 26px;
}

.advantages {
list-style: none;
}

    /*Выравниваем текст и задаем ширину контейнера для переносов*/
.advantage-text {
text-align: center;

width: 285px;
}


.tips {
list-style: none;
}

.tips-text {
text-align: center;

width: 290px;
}

.find-hotel {
text-align: center;
}

.question {
font-size: 30px;
font-weight: 700;
line-height: 36px;
}

.book-text {
font-size: 14px;
line-height: 24px;
}

    /* Стилизация формы бронирования*/
.find-hotel-index-filter {
background-color: #ffffff;
    /*Определяем позиционирование блока*/
position: absolute;
width: 500px;
height: 500px;
left: 50%;
}

    /*Стилизация шапки формы поиска отеля*/
.find-hotel-index {
color: #ffffff;
font-size: 18px;
line-height: 21px;
text-align: center;

background-color: #766357;
padding: 20px;
}

    /*Жирный шрифт для подписей форм*/
.find-hotel-index-form input {
font-weight: 700;

background-color: #f2f2f2;
}

    /*Цвет фона полей форм при наведении и фокусе*/
.find-hotel-index-form input:hover {
background-color: #ebebeb;
}

.find-hotel-index-form input:focus {
    background-color: #ffffff;
}

    /*Цвет фона кнопок форм при наведении и фокусе*/
button button-minus,
button button-plus {


}
}


.find-hotel-index-form input {
font-size: 14px;
line-height: 26px;
font-weight: 700;

background-color: #f2f2f2;
}

    /*Стилизуем кнопку "Найти" в форме поиска отеля*/
.button.button-find {
font-family: inherit;
text-transform: uppercase;
font-size: 21px;
line-height: 26px;
font-weight: 700;
color: #ffffff;
vertical-align: center;
text-align: center;

background-color: #81b3d2;
    /*Убираем рамки у кнопки по умолчанию*/
border: none;
}
    /*Задаем состояние кнопки при наведении и нажатии*/
.button.button-find:hover {
background-color: #669ec0;
}
.button.button-find:active {
color: rgba(0, 0, 0, 0.3);

background-color: #5496bd;
}


    /*Стилизуем Футер*/
.social-teg {
font-size: 21px;
line-height: 24px;

}

.main-footer ul {
list-style: none;
text-align: center;
}


.footer-copyright span {
font-size: 14px;
line-height: 26px;
}

/*Стилизация лого html academy при наведении*/

.offers-hosts {
list-style:none;
}

.offers-hosts h3 {
font-size: 21px;
line-height: 26px;
color: #000000;
}

/*Задаем состояние названий отелей*/
.offers-hosts h3:hover {
color: #81b3d2;
}

.offers-hosts h3:active {
color: rgba(0, 0, 0, 0.3);
}