body {
    margin:0;
    padding: 0;

    width: 100%;
/*Свойство параметров шрифта*/

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

/*Фон*/
    background-color: #ffffff;
}

/*Описываем глобальные стили*/

a {
    text-decoration: none;
}

}
h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;

/*Устанавливаем размер контейнера для правильных переносов*/
    width: 160px;
}

.visually-hidden {
    font-size: 0;
    width: 0;
    height: 0;
    display: hidden;
}

.button {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    vertical-align: center;
    text-align: center;
}


/* Устанавливаем наследование шрифтов в поля ввода формы*/
input {
    font: inherit;
}


                            /*блок Header*/
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;

    display: flex;
    margin: 0;
}

.site-navigation {
/*Убираем маркеры из списков*/
    list-style: none; 

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 18px;
    margin: 0;

    border: 1px dotted green; 
    
}


.main-header-logo {
/*Абсолютное позиционирование логотипа и выравнивание по центру относительно container*/
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px; 
}

/* Добавим HTML разметку column для оформления Header*/
.column-1 {
    width: 600px; 
    margin: 0;
    padding-left: 75px;
    padding-right: 190px;
}
    
.column-2 {
    width: 600px;
    margin: 0;
    padding-left: 199px;
    padding-right: 74px;
}

.site-navigation a {
/*Устанавливаем цвет ссылок*/
    color: #000000;
}

.site-navigation a:hover {
    color: #81b3d2; 
}

.site-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

            /*шапка в Index*/
.index-wallpaper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    height: 510px;
    width: 1200px;

    padding: 0;
    margin: 0;

    background-color: #e4f1fa;
    background-image:
        url("img/index-background-photo.jpg");
        background-size: cover;
        background-position: 0 -55px;
        background-repeat: no-repeat;
}

.index-wallpaper::after {
    content:"";
    background-image: url("img/index-background-white-line.svg");
    background-repeat: no-repeat;
    background-size: 1200px;
    margin: 0px;

    width: 1200px;
    height: 57px;

}

.image-welcome {
    width: 460px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;

    border: 2px solid yellow;
}



                            /*блок Advantages*/

.advantages-sedona {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
}

.advantage-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -4;
    margin: 0;
    padding: 0;

    background-color: #ffffff; 
}

.advantages-heading {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    
/*Устанавливаем ширину для правильных переносов текста*/
    width: 440px   
}

.advantages-discription {
    font-size: 14px;
    line-height: 26px;
}

.advantages-column-1 {
    display: flex;
    flex-direction: row-reverse;
    order: -3;
    
    height: 256px;

    margin: 0;
    padding: 0;
}

.advantages-column-box-1 {
    width: 400px;
    padding: 0;
    margin:0;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #ffffff;
    background-color: #81b3d2;
}


/*Добавляем тире до и после номера № */
.advantages-column-box-1 .advantages-number::before {
    content: "—";
    color: #ffffff;
    margin-right: 4px;
}

.advantages-column-box-1 .advantages-number::after {
    content: "—";
    color: #ffffff;
    margin-left: 4px;
}

.advantages-column-box .advantages-number::before {
    content: "—";
    color: #000000;
    margin-right: 4px;
}

.advantages-column-box .advantages-number::after {
    content: "—";
    color: #000000;
    margin-left: 4px;
}


.advantages-column-box-1 h3 {
    order: -2;
    text-align: center;
/*Устанавливаем ширину для правильных переносов текста*/
    width: 120px;
}

.advantage-text {
/*Выравниваем текст*/
    text-align: center;
/*Устанавливаем ширину для правильных переносов текста*/
    width: 320px;
}

.advantages-column-3 {
    display: flex;
    
    height: 256px;
        
    margin: 0;
    padding: 0;
}
    


.tips-column-2 {
    order: -3;
}

.tips {
    list-style: none;
}

.tips-text {
text-align: center;

width: 290px;
}


.find-hotel {
text-align: center;
}

.question {
font-size: 30px;
font-weight: 700;
line-height: 36px;
}

.book-text {
font-size: 14px;
line-height: 24px;
}

    /* Стилизация формы бронирования*/
.find-hotel-index-filter {
background-color: #ffffff;
    /*Определяем размеры блока*/
width: 570px;
height: 395px;
margin-left: auto;
margin-right: auto; 

}

.map {
    position: relative;
    z-index: -1;
    top: -100px;
    left: -315px;
}

    /*Стилизация шапки формы поиска отеля*/
.find-hotel-index {
color: #ffffff;
font-size: 18px;
line-height: 21px;
text-align: center;

margin: 0;

width: 400px;

padding:26px 85px;

background-color: #766357;
}

/*Жирный шрифт для подписей форм*/
.find-hotel-index-form input {
font-weight: 700;

background-color: #f2f2f2;
}

/*Цвет фона полей форм при наведении и фокусе*/
.find-hotel-index-form input:hover {
background-color: #ebebeb;
}

.find-hotel-index-form input:focus {
    background-color: #ffffff;
}

/*Цвет фона кнопок форм при наведении и фокусе*/
button button-minus,
button button-plus {
}


.find-hotel-index-form input {
font-size: 14px;
line-height: 26px;
font-weight: 700;

background-color: #f2f2f2;
}

/*Стилизуем кнопку "Найти" в форме поиска отеля*/
.button.button-find {
font-family: inherit;
text-transform: uppercase;
font-size: 21px;
line-height: 26px;
font-weight: 700;
color: #ffffff;
vertical-align: center;
text-align: center;

background-color: #81b3d2;
    /*Убираем рамки у кнопки по умолчанию*/
border: none;
}
            /*Задаем состояние кнопки при наведении и нажатии*/
.button.button-find:hover {
background-color: #669ec0;
}
.button.button-find:active {
color: rgba(255, 255, 255, 0.3);

background-color: #5496bd;
}


                /*Стилизуем Футер*/
.social-teg {
font-size: 21px;
line-height: 24px;

}

.main-footer {
    background-color: rgba(255, 255, 255, 0.8);
}
.main-footer ul {
list-style: none;
}


.footer-copyright span {
font-size: 14px;
line-height: 26px;
}

/*Стилизация лого html academy при наведении*/

.offers-hosts {
list-style:none;
}

.offers-hosts h3 {
font-size: 21px;
line-height: 26px;
color: #000000;
}

/*Задаем состояние названий отелей*/
.offers-hosts h3:hover {
color: #81b3d2;
}

.offers-hosts h3:active {
color: rgba(0, 0, 0, 0.3);
}

    /* Стилизуем кнопку "Забронировать"*/
.button-book {
font-size: 14px;
line-height: 21px;

background-color: #766357;
}

.button-book:hover {
background-color: #604e43;
}
.button-book:active {
background-color: #503e33;
color: rgba(255, 255, 255, 0.3);
}

            /* Стилизуем кнопку "Подробнее"*/
.button-about {
font-size: 14px;
line-height: 21px;

background-color: #81b3d2;
}

.button-about:hover {
background-color: #669ec0;
}
.button-about:active {
background-color: #669ec0;
color: rgba(255, 255, 255, 0.3);
}

.rating {
background-color: #f2f2f2;
}

                                     /*---Сеточные Стили---*/
                                      /* Index page */


/*Поместим все соержимое HTML в контейнер*/
.container {
    /* Задамем центровку контейнера*/ 
    width: 1200px;
    margin: 0px auto;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



/* Общим флекс контейнер в Tips-column-2*/
.tips {
display: flex;
justify-content: space-between;

padding: 0;
margin:0;

     /* Временно для сетки */
border: 2px dotted green;
}

.tips li {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

margin: 0;
margin-top: 60px;
margin-bottom: 85px;
padding: 0;
     /* Временно для сетки */
border: 2px dotted blue; 
}

.tips img {
order: -1;
}

.tips .tips-text {
text-align: center;
        /* Временно для сетки */
border: 2px dotted red;
}

.tips h3 {
text-align: center;

margin: 0;
padding: 0;
        /* Временно для сетки */
border: 2px dotted red;
}


/* Общим флекс контейнер в Advantages-column-4*/
.advantages-column-box {
display: flex;
justify-content: space-between;

margin: 0;
padding: 0;
    

    /* Временно для сетки */
border: 2px dotted green;

background-color: #eeeeee;
}

.advantages-column-box li {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
   /* Временно для сетки */
border: 2px dotted blue; 

}

.advantages-column-box p,
.advantages-column-box h3 {
text-align: center;
    /* Временно для сетки */
border: 2px dotted red;
}


.advantages-column-box h3 {
order: -1;
}

.find-hotel {
display: flex;
flex-direction: column;
align-items: center;

margin: 0;
padding: 0;

background-color: #ffffff;

    /* Временно для сетки */
border: 2px dotted red;
}

.find-hotel .question {
margin-top: 55px;
}

.find-hotel .book-text {
margin-bottom: 42px;
}

                             /*   Footer Index */ 

.main-footer {
display: flex;
justify-content: space-around;
align-items: center;

/* Временно для сетки */
height: 120px;

margin-top: 150px;

}

.social-footer {
display: flex;
justify-content: center;
    
width: 156px; 

margin: 0;
padding: 0;

      /* Временно для сетки */
border: 2px dotted red;
}

.social-footer li {

display: flex; 
justify-content: center;
align-items: center;

background-color: #81b3d2;

width: 46px;
height: 48px; 

}

.social-footer li:nth-child(2) {
margin-left: 6px;
margin-right: 6px;
}


.footer-copyright {
display: flex;
align-items: center;
}

.footer-copyright span {
margin-right: 10px;
}
                                       /* Catalog page */
.offers-hosts {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;


/* Временно для сетки */
border: 2px dotted red;
}

.offers-hosts li {
    display: flex; 

    /* Нижняя рамка */
border-bottom: 1px solid #e5e5e5;
}

.offers-hosts .offers-image {
    order: -1;
}

.offers-hosts h3 {
    min-width: 230px;
    
    margin-top: 27.5px;
}

.offers-hosts .button-about {
    width: 110px;
    height: 27px;
}

.offers-hosts .button-book {
    width: 142px;
    height: 27px;

    margin-left: 6px;
}

